// general rules

*{
    box-sizing: border-box;
}

body,
html{
    margin: 0;
    padding: 0;
    font-family: "mont";
}

// primary color
$primary: #18a2ff;

// secondory color
$secondry: #f918ff;

// loader
$loader: #651FFF;

// scroll-bar

::-webkit-scrollbar{
    background-color: #fff;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: $primary;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #ccc;
}

// primary font

@font-face { 
    font-family: 'mont';
    src: url('../fonts/Montserrat-Regular.otf');
}

// bold font

@font-face { 
    font-family: 'montBold';
    src: url('../fonts/Montserrat-Bold.otf');
}

// thin font

@font-face { 
    font-family: 'montthin';
    src: url('../fonts/Montserrat-Thin.otf');
}

// body

body{
    background-image: url(../images/parallax-4.jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

// loader

.loader_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.91);

    .preloader {
    width: 240px;
    height: 216px;
    transform: scale(0.6);

    ul {
        display: grid;
        list-style-type: none;
        grid-template-columns: repeat(5, 1fr);
        animation: cycle 16s linear infinite;

        li.box{
            width: 40px;
            height: 40px;
            background-color: $loader;
            border-radius: 4px;
            box-shadow: 0 0 1px #fff, 0 0 5px $loader, 0 0 10px $loader, 0 0 15px $loader, 0 0 25px $loader, 0 0 55px $loader;
            animation: scaling 0.8s linear alternate infinite;

            &:nth-child(1) {
                z-index: 24;
            }
            &:nth-child(2) {
                z-index: 23;
            }
            &:nth-child(3) {
                z-index: 22;
            }
            &:nth-child(4) {
                z-index: 21;
            }
            &:nth-child(5) {
                z-index: 20;
            }
            &:nth-child(6) {
                z-index: 19;
            }
            &:nth-child(7) {
                z-index: 18;
            }
            &:nth-child(8) {
                z-index: 17;
            }
            &:nth-child(9) {
                z-index: 16;
            }
            &:nth-child(10) {
                z-index: 15;
            }
            &:nth-child(11) {
                z-index: 14;
            }
            &:nth-child(12) {
                z-index: 13;
            }
            &:nth-child(13) {
                z-index: 12;
            }
            &:nth-child(14) {
                z-index: 11;
            }
            &:nth-child(15) {
                z-index: 10;
            }
            &:nth-child(16) {
                z-index: 9;
            }
            &:nth-child(17) {
                z-index: 8;
            }
            &:nth-child(18) {
                z-index: 7;
            }
            &:nth-child(19) {
                z-index: 6;
            }
            &:nth-child(20) {
                z-index: 5;
            }
            &:nth-child(21) {
                z-index: 4;
            }
            &:nth-child(22) {
                z-index: 3;
            }
            &:nth-child(23) {
                z-index: 2;
            }
            &:nth-child(24) {
                z-index: 1;
            }
            &:nth-child(25) {
                z-index: 0;
            }
            &:nth-child(1) {
                animation-delay: 0.1s;
            }
            &:nth-child(7) {
                animation-delay: 0.3s;
            }
            &:nth-child(13) {
                animation-delay: 0.5s;
            }
            &:nth-child(19) {
                animation-delay: 0.7s;
            }
            &:nth-child(24) {
                animation-delay: 0.9s;
            }
            &:nth-child(2) {
                animation-delay: 0.2s;
            }
            &:nth-child(8) {
                animation-delay: 0.4s;
            }
            &:nth-child(14) {
                animation-delay: 0.6s;
            }
            &:nth-child(20) {
                animation-delay: 0.8s;
            }
            &:nth-child(3) {
                animation-delay: 0.3s;
            }
            &:nth-child(9) {
                animation-delay: 0.5s;
            }
            &:nth-child(15) {
                animation-delay: 0.7s;
            }
            &:nth-child(4) {
                animation-delay: 0.4s;
            }
            &:nth-child(10) {
                animation-delay: 0.6s;
            }
            &:nth-child(5) {
                animation-delay: 0.5s;
            }
            &:nth-child(1) {
                animation-delay: 0.1s;
            }
            &:nth-child(6) {
                animation-delay: 0.2s;
            }
            &:nth-child(11) {
                animation-delay: 0.3s;
            }
            &:nth-child(16) {
                animation-delay: 0.4s;
            }
            &:nth-child(21) {
                animation-delay: 0.5s;
            }
            &:nth-child(7) {
                animation-delay: 0.3s;
            }
            &:nth-child(12) {
                animation-delay: 0.4s;
            }
            &:nth-child(17) {
                animation-delay: 0.5s;
            }
            &:nth-child(22) {
                animation-delay: 0.6s;
            }
            &:nth-child(13) {
                animation-delay: 0.5s;
            }
            &:nth-child(18) {
                animation-delay: 0.6s;
            }
            &:nth-child(23) {
                animation-delay: 0.7s;
            }
            &:nth-child(19) {
                animation-delay: 0.7s;
            }
            &:nth-child(24) {
                animation-delay: 0.8s;
            }
            &:nth-child(25) {
                animation-delay: 0.9s;
            }

        }
    }

    }
}

// wrapper
.wrapper{
    background-color: rgba(0, 0, 0, 0.6);

    .overlay{
        position: relative;

        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.85;
            background-image: linear-gradient(to bottom,rgba(142,89,204,0.8) 10%,rgba(136,106,234,0.8) 53%,rgba(54,40,158,0.85) 100%);
            background-attachment: fixed;
        }

        // logo
        .logo{
            position: fixed;
            top: 10px;
            left: 20px;
            z-index: 20;

            @media ( max-width:710px ) {
                display: none;
            }

            img{
                width: 50px;
            }
        }

        // nav button
        .nav_button{
            position: fixed;
            top: 20px;
            right: 19px;
            width: 45px;
            border: 0;
            background-color: transparent;
            z-index: 22;
            direction: rtl;
            cursor: pointer;
            outline: none;
            transition: 0.5s ease;
            
            @media ( max-width:710px ) {
                background-color: rgba(255, 255, 255, 0.22);
                top: 18px;
                right: 15px;
            }

            p{
                display: block;
                height: 2px;
                background-color: rgba(255, 255, 255, 0.6196078431372549);
                margin: 5px 0;
                transition: 0.4s ease;

                &:nth-of-type(2){
                    width: 70%;
                }

                &:last-of-type{
                    width: 40%;
                }
            }

            &.active{
                background-color: transparent;
            }
            &.active p{
                transform: rotate(-45deg)translate(-4px);

                &:nth-of-type(2){
                    width: 1000%;
                    opacity: 0;
                }

                &:last-of-type{
                    width: 100%;
                    transform: rotate(405deg) translate(-10px,-6px);
                }
            }

            &:hover p{
                background-color: #ffffff;
                width: 100%;
            }
        }

        // side nav closer
        .side_nav_closer{
            position: fixed;
            top: 0;
            left: 0;
            width: 0vw;
            height: 100vh;
            z-index: 20;

            &.active{
                width: 100vw;
            }
        }

        // side nav
        .side_nav{
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            margin: 0;
            top: 0;
            left: 0;
            z-index: 21;
            width: 300px;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7098039215686275);
            transition: 0.5s ease;
            transform: translateX(-100%);

            &.active{
                transform: translateX(0%); 
            }

            li{
                display: block;

                a{
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    font-size: 24px;
                    text-transform: uppercase;
                    font-family: montBold;
                    padding: 5px 12px 0px 26px;
                    position: relative;
                    transition: 0.5s ease;

                    &:hover{
                        padding: 5px 12px 0px 46px;
                    }

                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 14px;
                        z-index: -1;
                        background-color: $primary;
                        transition: 0.5s ease;
                    }

                    &:hover::after{
                        width: 100%;
                    }
                }
            }
        }

        // content
        .name{
            text-align: center;
            font-family: montBold;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;

            h4{
                margin: 0;
                color: #fff;
                font-size: 20px;

                @media ( max-width:430px ){
                    font-size: 14px;
                }
            }

            h2{
                color: #fff;
                font-size: 37px;
                margin: 15px 0;
                text-shadow: 0px 6px 0px #000;
                
                @media ( max-width:550px ){
                    font-size: 35px;
                }
                
                @media ( max-width:430px ){
                    font-size: 27px;
                }
            }

            .typed{
                height: 20px;
                line-height: 20px;
            }

            .buttons{
                margin-top: 20px;
                padding: 10px;

                button{
                    border: 0px;
                    background-color: transparent;
                    padding: 0;

                    a{
                        display: inline-block;
                        position: relative;
                        text-decoration: none;
                        padding: 6px 22px 11px 22px;
                        line-height: 20px;
                        overflow: hidden;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-family: montBold;
                        border: 2px rgba(255, 255, 255, 0) solid;
                        box-shadow: 5px 6px 6px #000;
                        transition: 0.5s ease;

                        &::after{
                            content: '';
                            position: absolute;
                            top: -10%;
                            left: -40%;
                            width: 50px;
                            height: 100px;
                            background-color: rgba(255, 255, 255, 0.61);
                            transform: skewX(30deg);
                            transition: 0.5s ease;
                        }

                        &.hire{
                            background-color: $primary;
                            color: #fff;

                            svg{
                                fill: #fff;
                            }

                            &:hover svg{
                                fill: $secondry;
                            }
                        }

                        &.portfolioo{
                            background-color: #fff;
                            color: $primary;

                            svg{
                                fill: $primary;
                            }

                            &:hover svg{
                                fill: #fff;
                            }

                            @media ( max-width:380px ){
                                display: none;                            
                            }
                        }

                        &:hover{
                            background-color: rgba(0, 0, 0, 0);
                            border-bottom-color: #fff;
                            color: #fff;
                            box-shadow: -2px -2px 20px #000;
                            transform: translateY(-4px);
                        }

                        &:hover::after{
                            left: 150%;
                        }

                        svg{
                            height: 20px;
                            margin-right: 8px;
                            position: relative;
                            top: 4px;
                            transition: 0.5s ease;
                        }
                    }
                }
            }
        }

        .about_me{
            text-align: center;

            .container{
                position: relative;
                display: inline-block;
                width: 300px;
                height: 300px;
                background-color: $primary;
                overflow: hidden;
                box-shadow: 2px 2px 7px #000000;

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -69%;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.1843137254901961);
                    transition: 0.5s ease;
                    transform: skew(18deg)translateX(700px);
                }

                img{
                    width: 100%;
                    transition: 0.5s ease;
                }
                
                .details{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 0;
                    opacity: 0; 
                    padding: 0 25px;
                    color: #fff;
                    z-index: 2;
                    line-height: 30px;
                    text-transform: capitalize;
                    transform: translateY(-50%)scale(2);
                    transition: 0.5s ease;

                    h2{
                    }

                    p{

                    }
                }

                &:hover img{
                    transform: scale(0);
                }

                &:hover .details{
                    transform: translateY(-50%)scale(1);
                    opacity: 1;
                }

                &:hover::after{
                    transform: skew(18deg)translateX(0px);
                }
            }

        }

        .skills{
            color: #fff;

            h2{
                margin: 0;
                font-family: montBold;
                text-align: center;
                margin-bottom: 40px;
                text-transform: uppercase;
            }

            .soft_skills{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
    
                .soft_skill{
                    text-align: center;
                    margin: 20px;
                    width: 226px;

                    @media ( max-width:1063px ){
                        width: 330px;
                    }

                    @media ( max-width:1000px ){
                        width: 300px;
                    }

                    @media ( max-width:700px ){
                        width: 270px;
                    }

                    .chart{
                        position: relative;
                        overflow: hidden;

                        &::after{
                            content: '';
                            height: 110px;
                            width: 110px;
                            background-color: #fff2;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            border-radius: 50%;
                            transform: translate(-50%,-50%)scale(0);
                            transition: 0.5s ease;
                        /*	animation: pie 2s ease infinite;*/
                        }

                        span{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            font-family: montThin;
                            transform: translate(-50%,-50%);
                        }

                        canvas{
                            box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.5490196078431373);
                            border-radius: 50%;
                        }
                    }

                    h3{
                        font-family: montThin;
                        font-size: 17px;
                        font-weight: bold;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                    }
                }

                .clear{
                    clear: both;
                }
            }

        }
        
        .skills2{
            color: #fff;

            .container{
                padding: 0px 50px;
    
                h2{
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 70px;
                }
    
                .technical_skills{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
        
                    .technical_skill{
                        text-align: center;
                        width: 400px;
                        margin: 20px;

                        @media ( max-width:1000px ){
                            width: 350px;
                        }

                        @media ( max-width:900px ){
                            width: 320px;
                        }

                        @media ( max-width:850px ){
                            width: 44%;
                        }

                        @media ( max-width:787px ){
                            width: 260px;
                        }

                        @media ( max-width:700px ){
                            width: 400px;
                            margin: 20px 0;
                        }
    
                        .progress{
        
                            h6{
                                margin: 0;
                                width: 100%;
                                height: 10px;
                                background-color: #fff;
                                border: 1px #fff solid;
    
                                p{
                                    margin: 0;
                                    height: 100%;
                                    position: relative;
                                    transition: 0.5s ease;
                                    transform-origin: left;
                                    background-image: linear-gradient( -84deg , $primary , $secondry );
                                    animation: progress_bar ease 2s;
    
                                    &.width_95{
                                        width: 95%;
                                    }
    
                                    &.width_70{
                                        width: 70%;
                                    }
                                    
                                    &.width_50{
                                        width: 50%;
                                    }
                                    
                                    &.width_90{
                                        width: 90%;
                                    }
                                    
                                    &.width_99{
                                        width: 99%;
                                    }
    
                                    span{
                                        margin: 0;
                                        display: inline-block;
                                        position: absolute;
                                        right: -15px;
                                        top: -40px;
                                        background-color: $primary;
                                        padding: 5px;
    
                                        &::after{
                                            content: '';
                                            height: 8px;
                                            width: 8px;
                                            background-color: $primary;
                                            position: absolute;
                                            bottom: -5px;
                                            left: 50%;
                                            transform: rotate(45deg)translateX(-50%);
                                        }
                                    }
                                }
                            }
                        }
    
                        h4{
                            text-transform: uppercase;
                            text-align: left;
                        }
                    }
                }
            }
        }

        .contact{
            color: #fff;

            h2{
                text-align: center;
                margin-bottom: 100px;
            }
            
            .cards{
                text-align: center;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                
                .card{
                    width: 200px;
                    margin: 20px 10px;

                    @media ( max-width:700px ){
                        width: 350px;
                    }

                    .svg{
                        
                        svg{
                            height: 40px;
                            fill: #fff;
                        }
                    }

                    h3{
                        position: relative;
                        overflow: hidden;
                        cursor: default;
                        margin: 10px 0 0 0;
                        padding:1px 0;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0);
                        transition-delay: .3s;

                        &::after{
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: -100%;
                            transition: 1s ease;
                            background-color: $primary;
                        }
                    }

                    h5{
                        position: relative;
                        overflow: hidden;
                        margin: 10px 0 0 0;
                        padding: 5px 0px;
                        color: rgba(0, 0, 0, 0);
                        transition-delay: .3s;
                        
                        a{
                            text-decoration: none;
                            padding: 15px;
                            color: rgba(0, 0, 0, 0);
                            transition-delay: .3s;
                        }

                        &::after{
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: -100%;
                            transition: 1s ease;
                            background-color: $secondry;
                        }
                    }

                    &:hover h3{
                        color: #fff;
                    }

                    &:hover h5 a{
                        background-color: rgba(0, 0, 0, 0.418);
                        color: #fff;
                    }

                    &:hover h3::after{
                        left: 100%;
                    }

                    &:hover h5::after{
                        right: 100%;
                    }
                }
            }
        }

        .portfolio{

            h2{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                text-align: center;
                z-index: 20;
                color: #fff;
                text-transform: uppercase;
            }

            .slide{
                text-align: center;
                overflow: hidden;

                a{
                    display: inline-block;
                    position: relative;
                    width: 600px;
                    height: 300px;
                    overflow: hidden;
                    transform: scale(3);
                    backface-visibility: hidden;
                    filter: blur(2px);
                    transition: 0.5s ease;

                    @media ( max-width:750px ){
                        width: 80%;
                    }

                    @media ( max-width:650px ){
                        width: 80%;
                        height: 250px;
                    }

                    @media ( max-width:500px ){
                        width: 80%;
                        height: 200px;
                    }

                    @media ( max-width:450px ){
                        width: 70%;
                        height: 150px;
                    }
                    
                    img{
                        width: 100%;
                    }
                    
                }
                
                .detail{
                    display: flex;
                    justify-content: center;
                    opacity: 0;
                    transition: 0.5s ease;
                    transition-delay: 0.5s;
                    transform: translateY(50px);
                    
                    h3{
                        width: 300px;
                        color: #fff;
                        text-transform: capitalize;
                    
                        @media ( max-width:400px ){
                            font-size: 14px;
                        }
                    }
                }
                
                &.active a{
                    opacity: 1;
                    filter: blur(0px);
                    transform: scale(1);
                }
                
                &.active .detail{
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }

        // footer
        footer{
            position: fixed;
            z-index: 20;
            bottom: 10px;
            right: 40px;
            text-transform: capitalize;

            @media ( max-width:1069px ) {
                position: absolute;
                bottom: 6px;
                font-size: 14px;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
            }

            h6{
                color: rgba(255, 255, 255, 0.6196078431372549);
                cursor: default;
                margin: 0;
                transition: 0.5s ease;

                &:hover{
                    color: #fff;
                }
            }
        }

        // content z-index cuz the canvas
        #fullpage{
            z-index: 1;
            transition: 0.5s ease;

            // bluring option
            &.blured{
                filter: blur(10px);
            }
        }

        // canvas
        >canvas{
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh !important;
            width: 100vw !important;
        }

    }
}











// ************************************** animations

// progress bar

@keyframes progress_bar{
	0%{
		transform: scaleX(0);
	}
	
	100%{
        transform: scaleX(1);
	}
}

// ***************

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	
	100%{
        opacity: 1;
	}
}

@keyframes cycle {
    100% {
        transform: rotate(360deg);
    }
  }

  @keyframes scaling {
    100% {
        transform: scale(0.1);
        opacity: 0;
    }
  }