/* Global Rules */

/* main color:#0fe0ba */

::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

::-moz-scrollbar{
	width: 10px;
	background-color: transparent;
}

::-o-scrollbar{
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar:hover{
    background-color: transparent;
}

::-moz-scrollbar:hover{
    background-color: transparent;
}

::-o-scrollbar:hover{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
	background-color: #fff;
}

::-moz-scrollbar-thumb{
	background-color: #fff;
}

::-o-scrollbar-thumb{
	background-color: #fff;
}

body{
    margin: 0;
    padding: 0;
	overflow: hidden;
}

/* carousel */

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0s ease-in-out;
         -o-transition:      -o-transform 0s ease-in-out;
            transition:         transform 0s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
}

.carousel{
	z-index: 1;
}
.carousel .carousel-inner .item img{
	width: 100vw;
	height: 100vh;
}

.carousel .carousel-inner .item .carousel-caption {
    width: 100%;
    height: 100%;
    background-image: url(../images/slide-2.jpg);
	background-size: cover;
    right: 0%;
    bottom: 0px;
    left: 0%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
	-webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	-moz-text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	-o-text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	-webkit-animation: img_pulse 10s infinite ease;
	-moz-animation: img_pulse 10s infinite ease;
	-o-animation: img_pulse 10s infinite ease;
	animation: img_pulse 10s infinite ease;
}
	
.carousel .carousel-inner .item:nth-of-type(2) .carousel-caption {
	background-image: url(../images/slide-1.jpg);
}

.carousel .carousel-inner .item:last-of-type .carousel-caption {
	background-image: url(../images/slide-3.jpg);	
}

/* animation */

@keyframes img_pulse{
	0%{
		background-size: 120%;
	}	
	100%{
		background-size: 100%;
	}
}

/* overlay */

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	-webkit-background: linear-gradient(to top right, #000000 5%, rgba(50, 50, 50, 0.1) 34%, rgba(50, 50, 50, 0.1) 55%, #000000 101%);
	-moz-background: linear-gradient(to top right, #000000 5%, rgba(50, 50, 50, 0.1) 34%, rgba(50, 50, 50, 0.1) 55%, #000000 101%);
	-o-background: linear-gradient(to top right, #000000 5%, rgba(50, 50, 50, 0.1) 34%, rgba(50, 50, 50, 0.1) 55%, #000000 101%);
	background: linear-gradient(to top right, #000000 5%, rgba(50, 50, 50, 0.1) 34%, rgba(50, 50, 50, 0.1) 55%, #000000 101%);
}

/* content */

.content{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	text-align: center;
}

.content::after{
	content: '';
    width: 700px;
    height: 1331px;
    position: absolute;
    top: -60%;
    left: 22%;
    z-index: 4;
    background-color: #ffffff14;
    border-left: 1px #7979799e solid;
    border-right: 1px #7979799e solid;
	-webkit-transform: rotate(-31deg);
	-moz-transform: rotate(-31deg);
	-o-transform: rotate(-31deg);
	transform: rotate(-31deg);
}

.content .hor{
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	z-index: 5;
	color: #fff;
	-webkit-transform: translateX(-50%)translateY(-50%);
	-moz-transform: translateX(-50%)translateY(-50%);
	-o-transform: translateX(-50%)translateY(-50%);
	transform: translateX(-50%)translateY(-50%);
}

@media (max-width:340px){	
	.content .hor{
		width: 100%;
	}
	 
}

.content .hor img{
	padding: 15px;
	-webkit-border-radius: 0px 30px 0px 30px;
	-moz-border-radius: 0px 30px 0px 30px;
	-o-border-radius: 0px 30px 0px 30px;
	border-radius: 0px 30px 0px 30px;
	-webkit-box-shadow: 4px 7px 10px #222, 2px 3px 10px #222;
	-moz-box-shadow: 4px 7px 10px #222, 2px 3px 10px #222;
	-o-box-shadow: 4px 7px 10px #222, 2px 3px 10px #222;
	box-shadow: 4px 7px 10px #222, 2px 3px 10px #222;
}

/* timer */

ul#example {
	list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    display: block;
	padding: 0;
	cursor: default;
}

ul#example li { 
	display: inline-block; 
}

ul#example li span {
    font-size: 70px;
    -webkit-text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;	
	-moz-text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;	
	-o-text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;	
	text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;	
}

@media (max-width:492px){	
	ul#example li span{
		font-size: 40px;
	} 
}

@media (max-width:352px){	
	ul#example li span{
		font-size: 35px;
	}
}

ul#example li.seperator {
    font-size: 70px;
    line-height: 90px;
    vertical-align: top;
    -webkit-text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;
	-moz-text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;
	-o-text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;
	text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;
}

@media (max-width:492px){	
	ul#example li.seperator{
		font-size: 40px;
		line-height: 50px;
	}
}

@media (max-width:352px){	
	ul#example li.seperator{
		font-size: 35px;
		line-height: 45px;
	}
}

@media (max-width:343px){	
	ul#example li.seperator{
		font-size: 25px;
		line-height: 45px;
	}
}

ul#example li p {
    color: #fff;
    font-size: 25px;
	-webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	-moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	-o-text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

@media (max-width:600px){	
	ul#example li p{
		font-size: 18px;
	}
}

/* details */

.content .hor .details p{
	margin: 0;
	margin-top: 40px;
	font-size: 20px;
}

@media (max-width:600px){	
	.content .hor .details p{
		margin-top: 10px;
	}
	
}

.content .hor .details h4{
	margin: 20px 0;
	color: #fff;
	-webkit-text-shadow: 2px 2px 2px #000,0px 0px 2px #000;
	-moz-text-shadow: 2px 2px 2px #000,0px 0px 2px #000;
	-o-text-shadow: 2px 2px 2px #000,0px 0px 2px #000;
	text-shadow: 2px 2px 2px #000,0px 0px 2px #000;
	-webkit-animation: hang 3s ease infinite;
	-moz-animation: hang 3s ease infinite;
	-o-animation: hang 3s ease infinite;
	animation: hang 3s ease infinite;
}

@keyframes hang {
	0%,100{
		letter-spacing: 0px;
	}
	
	50%{
		;letter-spacing: 1px;
	}
}

.content .hor .details button{
	background-color: transparent;
	padding: 10px 30px;
	border: 2px #fff0 solid;
	margin-top: 10px;
	background-color: #0fe0ba;
	font-weight: bold;
	letter-spacing: 1px;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.content .hor .details button:hover{
	background-color: #fff;
	color: #000;
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}

/* form */

.form{
	position: absolute;
	top: 0;
	left: 0;
	width: 0vw;
	height: 0vh;
	z-index: 6;
	text-align: center;
	overflow: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.form i.glyphicon-remove{
	position: absolute;
	right: 3%;
	top: 3%;
	font-size: 20px;
	cursor: pointer;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.form i.glyphicon-remove:hover{
	color: red;
}

.form .hor{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px;
	color: #fff;
	overflow: hidden;
	overflow-y: scroll;	
	z-index: 7;
	background-color: #4c4c4cfa;
	width: 40%;
	height: 70%;
	-webkit-box-shadow: 4px 11px 20px 3px #000;
	-moz-box-shadow: 4px 11px 20px 3px #000;
	-o-box-shadow: 4px 11px 20px 3px #000;
	box-shadow: 4px 11px 20px 3px #000;
	-webkit-transform: translateX(-50%)translateY(-50%);
	-moz-transform: translateX(-50%)translateY(-50%);
	-o-transform: translateX(-50%)translateY(-50%);
	transform: translateX(-50%)translateY(-50%);
}

@media (max-width:850px){	
	.form .hor{
		padding-top: 50px;
		width: 60%;
	}
}

@media (max-width:600px){	
	.form .hor{
		padding-top: 50px;
		width: 80%;
	}
}

@media (max-width:450px){	
	.form .hor{
		padding-top: 50px;
		width: 100%;
		height: 100%;
	}
}

.form .hor .id{
	margin-bottom: 40px;
}
.form .hor .id input{
	margin: 0;
    text-align: center;
    padding: 5px;
    letter-spacing: 1px;
    border: none;
	outline: none;
	color: #000;
    -webkit-border-radius: 15px 0px 0px 15px;
	-moz-border-radius: 15px 0px 0px 15px;
	-o-border-radius: 15px 0px 0px 15px;
	border-radius: 15px 0px 0px 15px;
}

@media (max-width:324px){	
	.form .hor .id input{
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
}

.form .hor .id button{
	border: none;
    background-color: #0fe0ba;
    padding: 5px 22px;
    margin-left: -5px;
	outline: none;
    letter-spacing: 1px;
    -webkit-border-radius: 0px 15px 15px 0px;
	-moz-border-radius: 0px 15px 15px 0px;
	-o-border-radius: 0px 15px 15px 0px;
	border-radius: 0px 15px 15px 0px;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

@media (max-width:324px){	
	.form .hor .id button{
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		margin-top: 10px;
	}
}

.form .hor .id button:hover{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.form .hor .credit{
	height: 262px;
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 0;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.form .hor .credit img{
	width: 70%;
	height: auto;
	cursor: pointer;
}

.form .hor h2{
	margin: 0;
	font-size: 25px;
	letter-spacing: 2px;
	-webkit-text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;	
	-moz-text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;	
	-o-text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;	
	text-shadow: 0 1px 12px #0fe0ba,0 1px 12px #0fe0ba;	
}
	
.form .hor .group{
	margin-top: 23px;
}

.form .hor .group input{
	display: inline-block;
	width: 70%;
	text-align: center;
    border: 0;
    padding: 4px;
    background-color: #0002;
    border-bottom: 1px #fff solid;
    color: #fff;
	outline: none;
}

.form .hor .group select{
	display: inline-block;
	width: 70%;
	text-align: center;
    border: 0;
    padding: 4px;
    background-color: #0002;
    border-bottom: 1px #fff solid;
    color: #fff;
	outline: none;
	text-align-last: center;
}

.form .hor .group select option{
	background-color: #000;
}

.form .hor .group input[type='submit']{
	background-color: #0fe0ba;
    border: 0;
    padding: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.form .hor .group input[type='submit']:hover{
	background-color: #fff;
	color: #0fe0ba;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.form .hor .group span{
	display: block;
	margin-top: 10px;
	color: #ff4545;
	font-weight: bold;
}