/*
	primary color #1894ff
	dark color #2c3e50
*/

/***************************************** Global Rules *******************************************/

/* flat icons */

[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before, 
[class^="flaticon-"]:after, 
[class*=" flaticon-"]:after{
	margin-left: 0;
}

/* primary font */

@font-face { 
    font-family: 'mont';
    src: url('../fonts/Montserrat-Regular.otf');
}

/* bold font */

@font-face { 
    font-family: 'montBold';
    src: url('../fonts/Montserrat-Bold.otf');
}

/* thin font */

@font-face { 
    font-family: 'montthin';
    src: url('../fonts/Montserrat-Thin.otf');
}

*{
/*	cursor: url(../images/cursor.png),pointer;*/
    box-sizing: border-box;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #9990;
}

::-webkit-scrollbar-thumb{
	background-color: #1894ff;
}

body{
	padding: 0;
	margin: 0;
	background-color: #2c3e50;
	color: #fff;
	font-family: mont;
	position: relative;
}

.container{
	width: 85%;
	margin: 0 auto;
}

@media (max-width:800px){
	.container{
		width: 95%;
	}
}

.overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.clear{
	clear: both;
}

/* popUp Divs & hidden */

.mobile_nav{
	position: fixed;
	width: 0%;
	height: 100%;
	top: 50%;
	left: 50%;
	background-color: rgba(0, 0, 0, 0.87);
	text-align: center;
	overflow: hidden;
	z-index: 10;
	transform-origin: left top;
	transform: translate(-50%,-50%);
	transition: 0.5s ease;
}

.mobile_nav.active{
	width: 100%;
}

.mobile_nav ul{
	padding: 0;
	margin: 0;
	cursor: default;
	list-style-type: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.mobile_nav ul li{
	display: block;
}

.mobile_nav ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
	text-transform: uppercase;
	font-family: montBold;
	letter-spacing: 1px;
	padding: 0 20px;
	margin-bottom: 40px;
	position: relative;
	text-align: left;
}

.mobile_nav ul li a::after{
	content: '';
    width: 0%;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
    background-color: #1894ff;
    transition: 0.5s ease;
}

.mobile_nav ul li a:hover::after{
	width: 100%;
}







/* header */

header{
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-image: url(../images/backgrounds/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 40% 100%;
	animation: bg ease 10s infinite;
}

header::before{
	content: '';
	position: absolute;
	top: 100%;
	left: -50%;
	width: 100%;
	height: 100%;
	background-color: #2c3e50;
	transform-origin: right;
	transform: skewY(12deg);
}

header::after{
	content: '';
	position: absolute;
	top: 100%;
	right: -50%;
	width: 100%;
	height: 100%;
	background-color: #2c3e50;
	transform-origin: left;
	transform: skewY(-12deg);
}

/* nav */

header nav{
	height: 80px;
	position: relative;
}

header nav .logo{
	float: left;
	height: 100%;
	position: relative;
}

header nav .logo img{
	height: 80%;
	width: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
}

header nav .links{
	float: right;
	height: 100%;
	line-height: 80px;
}

@media (max-width:650px){
	header nav .links{
		display: none;
	}
}

header nav .links ul{
	padding: 0;
	margin: 0;
	cursor: default;
}

header nav .links ul li{
	display: inline-block;
}

header nav .links ul li a{
	display: block;
	position: relative;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 0 10px;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	z-index: 1;
}

@media (max-width:700px){
	header nav .links ul li a{
		font-size: 11px;
	}
}

header nav .links ul li a.bounce{
	animation: lighting 2s ease infinite;
}


header nav .links ul li a::before{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	height: 85px;
	width: 85px;
	background-color: #fff4;
	z-index: -1;
	border: 2px #7770 solid;
	opacity: 0;
	border-radius: 50%;
	transform: translate(-50%,-50%)scale(0);
}


header nav .links ul li a::after{
	content: '';
	position: absolute;
	left: 0%;
	bottom: 0%;
	height: 2px;
	width: 100%;
	background-color: #fff;
	z-index: -1;
	opacity: 0;
	transition: 0.5s ease;
	transition-delay: 1.75s;
}


header nav .links ul li a:hover::before{
	animation: linksHover 1.75s ease;
}


header nav .links ul li a:hover::after{
	opacity: 1;
	bottom: 20%;
}

header nav .links ul li a.active::after{
	opacity: 1;
	bottom: 20%;
}

/* mobile button */

@media (min-width:651px){
	.mobile_button{
		display: none;
	}
}

.mobile_button{
	width: 40px;
	height: 30px;
	line-height: 60px;
	cursor: pointer;
	position: absolute;
	right: 1%;
	top: 50%;
	z-index: 11;
	transform: translateY(-50%);
}

.mobile_button span{
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	margin-bottom: 10px;
	transition: 0.7s ease;
}

.mobile_button.active span:first-of-type{
	transform: rotate(405deg)translate(8px,7px);
}

.mobile_button.active span:nth-of-type(2){
	opacity: 0;
	transform: translateX(-500px);
}

.mobile_button.active span:last-of-type{
	transform: rotate(-765deg)translate(10px,-10px);
}





/*
@media (max-width:650px){
	header nav .links{
		display: none;
	}
}
*/





/* end of nav */

/* name div */

header .name{
	width: 70vw;
	text-align: center;
	font-family: montBold;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	top: 50%;
	letter-spacing: 1px;
	transform: translateY(-50%)translateX(-50%);
}

@media (max-width:506px){
	header .name{
		width: 100%;
	}
}

header .name h4{
	margin: 0;
	color: #bbb;
	font-size: 1.3vw;
	text-shadow: 1px 1px 0px #000;
}

@media (max-width:1000px){
	header .name h4{
		font-size: 1.75vw;
	}
}

@media (max-width:800px){
	header .name h4{
		font-size: 2vw;
	}
}

@media (max-width:700px){
	header .name h4{
		font-size: 2.2vw;
	}
}

@media (max-width:600px){
	header .name h4{
		font-size: 2.5vw;
	}
}

@media (max-width:500px){
	header .name h4{
		font-size: 13px;
	}
}

header .name h1{
	font-size: 4.2vw;
	margin: 15px 0;
	animation: lighting 20s ease infinite;
}

@media (max-width:700px){
	header .name h1{
		font-size: 40px;
	}
}

@media (max-width:600px){
	header .name h1{
		font-size: 35px;
	}
}

@media (max-width:500px){
	header .name h1{
		font-size: 30px;
	}
}

@media (max-width:350px){
	header .name h1{
		font-size: 25px;
	}
}

header .name h4.typed{
	height: 20px;
	line-height: 20px;
}

header .name .buttons{
	margin-top: 20px;
	padding: 10px;
}

header .name .buttons button{
	border: 0px;
	background-color: transparent;
}

header .name .buttons button a{
	display: inline-block;
	position: relative;
	text-decoration: none;
	padding: 15px 35px;
	line-height: 20px;
	overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: montBold;
	border: 2px rgba(255, 255, 255, 0) solid;
	box-shadow: 7px 7px 20px #000;
	transition: 0.5s ease;
}

@media (max-width:1000px){
	header .name .buttons button a{
		padding: 10px 28px;
		font-size: 12px;
	}
}

@media (max-width:800px){
	header .name .buttons button a{
		padding: 10px 22px;
	}
}

header .name .buttons button a::after{
	content: '';
	position: absolute;
	top: -10%;
	left: -40%;
	width: 50px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.61);
	transform: skewX(30deg);
	transition: 0.5s ease;
}

header .name .buttons button a i{
	margin-right: 10px;
}

header .name .buttons button a i::before{
	font-size: 20px;
	font-weight: bold;
}

header .name .buttons button a.hire{
	background-color: #1894ff;
	color: #fff;
}

header .name .buttons button a.portfolioo{
	background-color: #fff;
	color: #1894ff;
}

header .name .buttons button a:hover{
	background-color: rgba(0, 0, 0, 0);
	border-bottom-color: #fff;
	color: #fff;
	box-shadow: -2px -2px 20px #000,-2px -2px 20px #000,-2px -2px 20px #000;
	transform: translateY(-3px);
}

header .name .buttons button a:hover::after{
	left: 150%;
}

/* mouse button */

header .mouse_button{
	height: 15vh;
	width: 100%;
	position: absolute;
	bottom: 5%;
	left: 0;
	text-align: center;
}

@media (max-width:700px){
	header .mouse_button{
		bottom: 10%;
	}
}

header .mouse_button span{
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 50%;
	display: inline-block;
	width: 40px;
	height: 70px;
	cursor: pointer;
	border: 1px #fff solid;
	background-color: #0000005c;
	border-radius: 50px;
	box-shadow: 5px 5px 15px #000;
	transform: translateX(-50%)translateY(-50%);
	transition: 0.5s ease;
}

header .mouse_button span::before{
	content: '';
	position: absolute;
	width: 30px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.64);
	left: -100%;
	transition: 0.5s ease;
	transform: skew(20deg);
}

header .mouse_button span::after{
	content: '';
	position: absolute;
	top: 10%;
	left: 36%;
	height: 10px;
	width: 10px;
	background-color: #fff;
	opacity: 0.9;
	border-radius: 50%;
	box-shadow: 1px 1px 10px #000;
	animation: swipeDown 2s ease infinite;
}

header .mouse_button span:hover::before{
	left: 180%;
}

/* End of header */

/* About me section */

.about_me{
	overflow: hidden;
	height: 80vh;
	padding-top: 50px;
}

@media (max-width:1200px){
	.about_me{
		height: 420px;
	}
}

@media (max-width:900px){
	.about_me{
		height: 350px;
	}
}

@media (max-width:600px){
	.about_me{
		height: 700px;
	}
}

.about_me .my_pic{
	float: left;
	width: 35%;
	height: 100%;
	padding: 30px;
}

@media (max-width:1000px){
	.about_me .my_pic{
		width: 40%;
	}
}

@media (max-width:800px){
	.about_me .my_pic{
		width: 45%;
	}
}

@media (max-width:650px){
	.about_me .my_pic{
		width: 50%;
	}
}

@media (max-width:600px){
	.about_me .my_pic{
		float: none;
		margin: 0 auto;
		width: 70%;
	}
}

@media (max-width:400px){
	.about_me .my_pic{
		width: 95%;
	}
}

.about_me .my_pic img{
	width: 100%;
	height: auto;
}

.about_me .details{
	float: right;
	width: 65%;
	height: 100%;
	padding-top: 50px;
}

@media (max-width:1000px){
	.about_me .details{
		width: 60%;
	}
}

@media (max-width:800px){
	.about_me .details{
		width: 55%;
	}
}

@media (max-width:750px){
	.about_me .details{
		padding-top: 20px;
	}
}

@media (max-width:650px){
	.about_me .details{
		width: 50%;
	}
}

@media (max-width:600px){
	.about_me .details{
		float: none;
		margin: 0 auto;
		width: 70%;
		text-align: center;
	}
}

@media (max-width:400px){
	.about_me .details{
		width: 95%;
	}
}

.about_me .details h2{
	font-family: montBold;
	text-transform: uppercase;
}

.about_me .details p{
	font-family: montThin;
	line-height: 4vh;
	color: #bbb;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0px #000;
}

@media (max-width:650px){
	.about_me .details p{
		font-size: 12px;
	}
}

@media (max-width:600px){
	.about_me .details p{
		font-size: 15px;
		line-height: 25px;
	}
}

/* services */

.services{
	width: 100%;
	background-image: url(../images/backgrounds/bg1.jpg);
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.services::before{
	content: '';
	position: absolute;
	top: -77%;
	left: -50%;
	width: 100%;
	height: 100%;
	background-color: #2c3e50;
	transform-origin: right;
	transform: skewY(12deg);
}

@media (max-width:1030px){
	.services::before{
		top: -85%;
	}
}

@media (max-width:520px){
	.services::before{
		top: -94%;
	}
}

.services::after{
	content: '';
	position: absolute;
	top: -77%;
	right: -50%;
	width: 100%;
	height: 100%;
	background-color: #2c3e50;
	transform-origin: left;
	transform: skewY(-12deg);
}

@media (max-width:1030px){
	.services::after{
		top: -85%;
	}
}

@media (max-width:520px){
	.services::after{
		top: -94%;
	}
}

.services .container{
	padding-top: 200px;
	padding-bottom: 70px;
}

@media (max-width:1030px){
	.services .container{
		padding-top: 120px;
	}
}

@media (max-width:874px){
	.services .container{
		padding-top: 60px;
	}
}

@media (max-width:600px){
	.services .container{
		padding-top: 80px;
	}
}

@media (max-width:520px){
	.services .container{
		padding-top: 5px;
	}
}

.services h2{
	margin: 0;
	text-transform: uppercase;
	font-family: montBold;
	padding: 10px;
}

@media (max-width:874px){
	.services h2{
		margin-top: 100px;
	}
}

@media (max-width:439px){
	.services h2{
		margin-top: 150px;
	}
}

.services .items{
	overflow: hidden;
	padding-top: 200px;
}

@media (max-width:874px){
	.services .items{
		padding-top: 100px;
	}
}

@media (max-width:439px){
	.services .items{
		padding-top: 20px;
	}
}

.services .items .item{
	float: left;
	width: 20%;
	margin-right: 6%;
	background-color: transparent;
	position: relative;
	transition: 0.5s ease;
	cursor: default;
}

@media (max-width:874px){
	.services .items .item{
		width: 50%;
		margin: 50px auto;
	}
}

@media (max-width:600px){
	.services .items .item{
		margin-bottom: 70px;
	}
}

@media (max-width:439px){
	.services .items .item{
		width: 85%;
		margin: 128px auto;
		float: none;
		padding-top: 13px;
		padding-bottom: 27px;
	}
}

.services .items div.item:last-of-type{
	margin: 0;
}

@media (max-width:874px){
	.services .items div.item:last-of-type{
		margin: 50px auto;
	}
}

.services .items .item h3{
	background-color: #2c3e50;
	width: 90px;
	height: 90px;
	line-height: 90px;
	position: absolute;
	top: -50%;
	left: 50%;
	transform: translateX(-50%)rotate(45deg);
	transition: 0.5s ease;
}

@media (max-width:439px){
	.services .items .item h3{
		top: -35%;
	}
}

.services .items .item h3::before{
	content: '';
	width: 4px;
	height: 100%;
	background-color: #2c3e50;
	position: absolute;
	left: -100%;
	opacity:0;
	top: 0;
	transition: 0.5s ease;
}

.services .items .item h3::after{
	content: '';
	width: 4px;
	height: 100%;
	background-color: #2c3e50;
	position: absolute;
	right: -100%;
	opacity:0;
	top: 0;
	transition: 0.5s ease;
}

.services .items .item h3 i{
}

.services .items .item h3 i::before{
	font-size: 45px;
	font-weight: 100;
	display: inline-block;
	transform: rotate(-45deg);
}

.services .items .item h4{
	margin-top: 60px;
	font-family: montBold;
	transition: 0.5s ease;
}

.services .items .item p{
	padding: 0 20px;
	font-family: montThin;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 1px;
	opacity: 0;
	color: #ccc;
	text-shadow: 1px 1px 10px #000;
	transform-origin: bottom;
	transform: scale(0);
	transition: 0.5s ease;
}

.services .items .item:hover{
	background-color: #2c3e50;
}

.services .items .item:hover h3,
.services .items .item:hover h3::before,
.services .items .item:hover h3::after{
	background-color: #1894ff;
	opacity: 1;
}

.services .items .item:hover h3::before{
	left: -9%;
}

.services .items .item:hover h3::after{
	right: -9%;
}
	
.services .items .item:hover p{
	transform: scale(1);
	opacity: 1;
}

/* portfolio section */

.portfolio{
	text-align: center;
	padding-top: 80px;
	text-transform: uppercase;
	font-family: montBold;
}

.portfolio h2{
	margin-top: 0;
}

/* nav */

.portfolio .navbar ul{
	margin: 70px auto 0;
	cursor: default;
	list-style-type: none;
	width: 50vw;
	padding: 20px;
	box-shadow: inset 0px 0px 39px -10px #000;
}

@media (max-width:1354px){
	.portfolio .navbar ul{
		width: 700px;
	}
}

@media (max-width:770px){
	.portfolio .navbar ul{
		width: 95%;
	}
}

@media (max-width:443px){
	.portfolio .navbar ul{
		padding: 20px 0;
	}
}

.portfolio .navbar ul li{
	display: inline-block;
}

.portfolio .navbar ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 30px;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: montBold;
	font-weight: bold;
	position: relative;
	transition: 0.5s ease;
}

@media (max-width:759px){
	.portfolio .navbar ul li a{
		padding: 10px 20px;
	}
}

@media (max-width:672px){
	.portfolio .navbar ul li a{
		padding: 10px;
	}
}

@media (max-width:583px){
	.portfolio .navbar ul li a{
		font-size: 10px;
		letter-spacing: 0;
	}
}

@media (max-width:400px){
	.portfolio .navbar ul li{
		padding: 10px 20px;
	}
}

.portfolio .navbar ul li a::after{
	content: '';
	width: 0%;
	height: 4px;
	position: absolute;
	bottom: -10px;
	left: 0;
	background-color: #1894ff;
	z-index: -1;
	transition: 0.5s cubic-bezier(0.25, -0.2, 0, 1.3);
	transform-origin: right bottom;
}

.portfolio .navbar ul li a:hover{
	text-shadow: 0px 0px 10px #1894ff,0px 0px 10px #1894ff,0px 0px 20px #1894ff,0px 0px 20px #1894ff;
}
.portfolio .navbar ul li a:hover::after{
	width: 100%;
}

@media (max-width:400px){
	.portfolio .navbar ul li a::after{
		height: 0;
	}
}

.portfolio .navbar ul li a.active{
	text-shadow: 0px 0px 10px #1894ff,0px 0px 10px #1894ff,0px 0px 20px #1894ff,0px 0px 20px #1894ff;	
}

.portfolio .navbar ul li a.active::after{
	width: 100%;
}

/* portfolio items */

.portfolio .items{
	margin-top: 60px;
	overflow: hidden;
}

.portfolio .items .item{
	float: left;
	width: 31%;
	margin-right: 3.5%;
	margin-bottom: 40px;
	position: relative;
}

@media (max-width:950px){
	.portfolio .items .item{
		width: 49%;
		margin-right: 2%;
	}
}

@media (max-width:600px){
	.portfolio .items .item{
		width: 100%;
		margin-right: 0%;
	}
}

.portfolio .items div.item:nth-of-type(3n){
	margin-right: 0;
}

@media (max-width:950px){
	.portfolio .items div.item:nth-of-type(3n){
		margin-right: 2%;
	}
	
	.portfolio .items div.item:nth-of-type(2n){
		margin-right: 0%;
	}
}

@media (max-width:600px){
	.portfolio .items div.item:nth-of-type(3n){
		margin-right: 0%;
	}
	
	.portfolio .items div.item:nth-of-type(2n){
		margin-right: 0%;
	}
}

.portfolio .items .item img{
	display: block;
	width: 100%;
	height: auto;
	position: relative;
}

.portfolio .items .item img::after{
	content: '';
}

.portfolio .items .item .details{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background-color: #2c3e50e6;
	overflow: hidden;
	transition: 0.5s ease;
}

.portfolio .items .item .details h4{
	position: absolute;
	margin: 0;
	top: 20px;
	left: 20px;
	transform: translateX(300%);
	transition: 0.5s ease;
	transition-delay: 0.5s;
}

@media (max-width:600px){
	.portfolio .items .item .details h4{
		transform: translateX(500%);
	}
}

.portfolio .items .item .details h4::after{
	content: '';
	width: 100%;
	height: 2px;
	background-color: #1894ff;
	position: absolute;
	bottom: -10px;
	left: 0;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s ease;
	transition-delay: 1s;
}

.portfolio .items .item .details h6{
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	letter-spacing: 1px;
	color: #869cb1;
	transform: translateY(-250px);
	transition: 0.5s ease;
	transition-delay: 1.5s;
}

@media (max-width:600px){
	.portfolio .items .item .details h6{
		transform: translateY(-550px);
	}
}

.portfolio .items .item .details i{
	position: absolute;
	bottom: 15px;
	right: 15px;
	transform: scale(0);
	transition: 0.5s ease;
	transition-delay: 2s;
}

.portfolio .items .item .details i::before{
	font-size: 30px;
	color: #869cb1;
}

.portfolio .items .item .details a{
	position: absolute;
	top: 50%;
	left: 50%;
	text-decoration: none;
	color: #fff;
	display: block;
	width: 50px;
	height: 50px;
	line-height: 52px;
	border-radius: 50%;
	box-shadow: inset 0px 0px 39px -8px #000;
	transform: translate(-50%,-50%)scale(0);
	transition: 0.5s ease;
}

@media (max-width:1200px){
	.portfolio .items .item .details a{
		width: 40px;
		height: 40px;
		line-height: 42px;
	}
}

@media (max-width:600px){
	.portfolio .items .item .details a{
		width: 50px;
		height: 50px;
		line-height: 52px;
	}
}

@media (max-width:400px){
	.portfolio .items .item .details a{
		width: 40px;
		height: 40px;
		line-height: 42px;
	}
}

.portfolio .items .item .details a:hover{
	background-color: #1894ff;
	box-shadow: inset 0px 0px 20px 2px #000;
}

.portfolio .items .item:hover .details{
	height: 100%;
}

.portfolio .items .item:hover .details h4{
	transform: translateX(0);
}

.portfolio .items .item:hover .details h4::after{
	opacity: 1;
	transform: translateY(0);
}

.portfolio .items .item:hover .details h6{
	transform: translateY(0);
}

.portfolio .items .item:hover .details i{
	transform: scale(1)
}

.portfolio .items .item:hover .details a{
	transform: translate(-50%,-50%)scale(1);
}

/* awesome facts section */

.facts{
	margin-top: 100px;
	text-align: center;
	background-image: url(../images/backgrounds/bg3.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.facts .container{
	padding-top: 80px;
	padding-bottom: 80px;
}

.facts h2{
	margin: 0;
	font-family: montBold;
	margin-bottom: 70px;
}

.facts .items{
	
}

.facts .items .item{
	float: left;
	width: 24%;
	min-height: 160px;
	margin-right: 1.3%;
	padding: 40px 20px 20px 20px;
	position: relative;
	transition: 0.5s ease;
}

@media (max-width:600px){
	.facts .items .item{
		width: 49%;
		margin-right: 1%;
	}
}

.facts .items .item:hover{
	box-shadow: inset 0px 0px 117px -20px #000;
}

.facts .items div.item:nth-of-type(4n){
	margin-right: 0;
}

@media (max-width:600px){
	.facts .items div.item:nth-of-type(2n){
		margin-right: 0%;
	}
}

.facts .items .item .numbers{
	overflow: hidden;
	padding: 0 45px;
}

@media (max-width:1300px){
	.facts .items .item .numbers{
		padding: 0 35px;
	}
}

@media (max-width:1180px){
	.facts .items .item .numbers{
		padding: 0 25px;
	}
}

@media (max-width:1080px){
	.facts .items .item .numbers{
		padding: 0 15px;
	}
}

@media (max-width:970px){
	.facts .items .item .numbers{
		padding: 0px;
	}
}

@media (max-width:600px){
	.facts .items .item .numbers{
		padding: 0 60px;
	}
}

@media (max-width:560px){
	.facts .items .item .numbers{
		padding: 0 50px;
	}
}

@media (max-width:530px){
	.facts .items .item .numbers{
		padding: 0 40px;
	}
}

@media (max-width:499px){
	.facts .items .item .numbers{
		padding: 0 35px;
	}
}

@media (max-width:460px){
	.facts .items .item .numbers{
		padding: 0 20px;
	}
}

@media (max-width:407px){
	.facts .items .item .numbers{
		padding: 0 10px;
	}
}

@media (max-width:350px){
	.facts .items .item .numbers{
		padding: 0px;
	}
}

.facts .items .item .numbers i{
	display: block;
	float: left;
}

.facts .items .item .numbers i::before{
	font-size: 40px;
}

@media (max-width:850px){
	.facts .items .item .numbers i::before{
		font-size: 35px;
    	position: relative;
    	top: 6px;
	}
}

@media (max-width:730px){
	.facts .items .item .numbers i::before{
    	top: 3px;
	}
}

@media (max-width:670px){
	.facts .items .item .numbers i::before{
		font-size: 30px;
	}
}

.facts .items .item .numbers span{
	display: block;
	float: right;
	font-family: montBold;
	font-weight: bolder;
	font-size: 40px;
/*	animation: lighting 3s ease infinite;*/
}

@media (max-width:730px){
	.facts .items .item .numbers span{
		font-size: 35px;
	}
}

@media (max-width:650px){
	.facts .items .item .numbers span{
		font-size: 30px;
	}
}

.facts .items .item h5{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: montBold;
}

@media (max-width:1080px){
	.facts .items .item h5{
		font-size: 12px;
	}
}

@media (max-width:960px){
	.facts .items .item h5{
		font-size: 11px;
	}
}

/* testemonials section */

.testimonials{
	background-color: #1b2838;
}

.testimonials .container{
	padding: 70px 0;
}

.testimonials h2{
	margin: 0;
	font-family: montBold;
	text-align: center;
	margin-bottom: 70px;
	text-transform: uppercase;
}

.testimonials .items{
	
}

.testimonials .items .slide{
	padding: 15px;
	transition: 0.5s ease;
	outline: none;
}

@media (max-width:1155px){
	.testimonials .items .slide{
		padding: 5px;
	}
}

@media (max-width:350px){
	.testimonials .items .slide{
		padding: 0px;
	}
}

.testimonials .items .slide .item{
	background-color: #2c3e50;
	padding: 0 20px;
	height: 450px;
}

.testimonials .items .slide .item .details{
	text-align: center;
	position: relative;
	padding-top: 50px;
	padding-bottom: 20px;
	border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.testimonials .items .slide .item .details img{
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border: 6px #1b2838 solid;
	border-bottom-color: #1894ff;
	border-radius: 50%;
	position: absolute;
	top: -35%;
	left: 50%;
	transform: translateX(-50%);
}

.testimonials .items .slide .item .details h4{
	text-transform: capitalize;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.testimonials .items .slide .item .details h6{
	margin-top: 10px;
	text-transform: capitalize;
	color: #bbb;
	text-shadow: 1px 1px 0px #000;
	margin-bottom: 0;
}

.testimonials .items .slide .item .his_word{
	padding: 10px 0 10px 20px;
	position: relative;
}

@media (max-width:800px){
	.testimonials .items .slide .item .his_word{
		padding: 10px 0 10px 0;
	}
}

.testimonials .items .slide .item .his_word::before{
	content: '\f107';
	font-family: Flaticon;
	font-size: 12px;
	position: absolute;
	top: 10%;
	left: 1%;
	display: block;
	background-color: #1894ff;
	border-radius: 50%;
	padding: 10px;
	transform: rotate(180deg);
}

@media (max-width:800px){
	.testimonials .items .slide .item .his_word::before{
		background-color: transparent;
		top: 7%;
		left: -10%;
	}
}

@media (max-width:587px){
	.testimonials .items .slide .item .his_word::before{
		background-color: transparent;
		top: 7%;
		left: -2%;
	}
}

.testimonials .items .slide .item .his_word::after{
	content: '\f107';
	font-family: Flaticon;
	font-size: 12px;
	position: absolute;
	bottom: 8%;
	left: 1%;
	display: block;
	color: #1894ff;
	border: 1px #1894ff solid;
	border-radius: 50%;
	padding: 10px;
}

@media (max-width:800px){
	.testimonials .items .slide .item .his_word::after{
		border-color: transparent;
		right: -10%;
		left: auto;
		color: #fff;
	}
}

@media (max-width:587px){
	.testimonials .items .slide .item .his_word::after{
		border-color: transparent;
		right: -2%;
		left: auto;
		color: #fff;
	}
}

.testimonials .items .slide .item .his_word p{
	margin: 50px 0;
	padding-left: 20px;
	font-family: montThin;
	font-size: 0.9vw;
	line-height: 25px;
	letter-spacing: 1px;
	font-weight: bold;
	color: #bbb;
	position: relative;
}

@media (max-width:1018px){
	.testimonials .items .slide .item .his_word p{
		line-height: 20px;
	}
}

@media (max-width:841px){
	.testimonials .items .slide .item .his_word p{
		line-height: 15px;
		font-size: 1.1vw;
	}
}

@media (max-width:800px){
	.testimonials .items .slide .item .his_word p{
		padding-left: 0;
	}
}

@media (max-width:587px){
	.testimonials .items .slide .item .his_word p{
		font-size: 2vw;
		padding: 0 20px;
		line-height: 25px;
	}
}

@media (max-width:381px){
	.testimonials .items .slide .item .his_word p{
		line-height: 16px;
		font-size: 3vw;
	}
}

.testimonials .items .slide .item .his_word p::after{
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	width: 1px;
	height: 100%;
	background-color: #1894ff;
}

@media (max-width:800px){
	.testimonials .items .slide .item .his_word p::after{
		display: none;
	}
}




/* arrows */



/*
.testimonials .arrows{
	height: 55px;
	width: 100%;
	position: relative;
}


.testimonials .arrows i.flaticon-chevron-pointing-to-the-left{
	display: block;
	padding: 15px;
	position: absolute;
	top: -500%;
	left: 0%;
	cursor: pointer;
	border-radius: 50%;
	animation: lighting 2s ease infinite;
}

.testimonials .arrows i.flaticon-right-chevron{
	display: block;
	padding: 15px;
	position: absolute;
	top: -500%;
	right: 0%;
	cursor: pointer;
	border-radius: 50%;
	animation: lighting 2s ease infinite;
}

*/




/* plugin css overwrite */

.testimonials .slide{
	opacity: 0.5;
	transform: scale(0.9);
}

.testimonials .slick-center{
	opacity: 1 !important;
	transform: scale(1) !important;
}

.testimonials .slick-list{
	padding: 70px 40px 0 40px !important;
}

/* skills section */

.skills{
	background-image: url(../images/backgrounds/bg4.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.skills .container{
	padding-top: 70px;
	padding-bottom: 70px;
}

.skills h2{
	margin: 0;
	font-family: montBold;
	text-align: center;
	margin-bottom: 70px;
	text-transform: uppercase;
}

/* circles */

.skills .soft_skills{
	
}

.skills .soft_skills .soft_skill{
	float: left;
	width: 24%;
	text-align: center;
	margin-right: 1.33%;
	padding: 15px;
}

@media (max-width:670px){
	.skills .soft_skills .soft_skill{
		width: 49%;
		margin-right: 1%;
	}
}

@media (max-width:380px){
	.skills .soft_skills .soft_skill{
		width: 100%;
		margin-right: 0%;
	}
}

.skills .soft_skills div.soft_skill:nth-of-type(4n){
	margin-right: 0;
}

@media (max-width:670px){
	.skills .soft_skills div.soft_skill:nth-of-type(2n){
		margin-right: 0%;
	}
}

.skills .soft_skills .soft_skill .chart{
	position: relative;
	overflow: hidden;
}

.skills .soft_skills .soft_skill .chart::after{
	content: '';
	height: 110px;
	width: 110px;
	background-color: #fff2;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	transform: translate(-50%,-50%)scale(0);
	transition: 0.5s ease;
	animation: pie 2s ease infinite;
}

.skills .soft_skills .soft_skill .chart span{
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: montThin;
	transform: translate(-50%,-50%);
}

.skills .soft_skills .soft_skill h3{
	font-family: montThin;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
	letter-spacing: 1px;
}

/* progress Bar */

.skills h2:last-of-type{
	margin-top: 50px;
}

.technical_skills{
	
}

.technical_skills .technical_skill{
	text-align: center;
	padding: 15px;
	width: 50%;
	float: left;
}

@media (max-width:500px){
	.technical_skills .technical_skill{
		width: 100%;
	}
}

.technical_skills .technical_skill .progress{
	
}

.technical_skills .technical_skill .progress h6{
	margin: 0;
	width: 100%;
	height: 6px;
	background-color: #2c3e50;
}

.technical_skills .technical_skill .progress h6 p{
	margin: 0;
	height: 100%;
	background-color: #1894ff;
	position: relative;
	transition: 0.5s ease;
	animation: color ease 3s infinite;
}

.width_95{
	width: 95%;
}

.width_70{
	width: 70%;
}

.width_50{
	width: 50%;
}

.width_99{
	width: 99%;
}

.technical_skills .technical_skill .progress h6 p span{
	margin: 0;
	display: inline-block;
	position: absolute;
	right: -15px;
	top: -40px;
	background-color: #1894ff;
	padding: 5px;
}

.technical_skills .technical_skill .progress h6 p span::after{
	content: '';
	height: 8px;
	width: 8px;
	background-color: #1894ff;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: rotate(45deg)translateX(-50%);
}



.technical_skills .technical_skill h4{
	text-transform: uppercase;
	text-align: left;
}

/* get in touch */

.touch{
	background-color: #1b2838;
	width: 100%;
	overflow: hidden;
}

.touch .container{
	padding-top: 70px;
	padding-bottom: 100px;
}

.touch h2{
	margin: 0;
	font-family: montBold;
	text-align: center;
	margin-bottom: 70px;
	text-transform: uppercase;
}

.touch .items{
	padding-top: 70px;
}

.touch .item{
	width: 32%;
	float: left;
	text-align: center;
	margin-right: 2%;
	position: relative;
	padding-top: 70px;
	transition: 0.5s ease;
}

@media (max-width:670px){
	.touch .item{
		width: 80%;
		padding-bottom: 10px;
		float: none;
		margin: 0px auto 100px;
	}
}

.touch div.item:nth-of-type(3){
	margin-right: 0;
}

@media (max-width:670px){
	.touch div.item:nth-of-type(3){
		margin-right: auto;
	}
}

.touch .item h6{
	position: absolute;
	top: -70px;
	left: 50%;
	background-color: #2c3e50;
	padding: 20px;
	transform: translateX(-50%)rotate(45deg);
	transition: 0.5s ease;
}

.touch .item h6::before{
	content: '';
	width: 4px;
	height: 100%;
	background-color: #2c3e50;
	position: absolute;
	left: -100%;
	opacity:0;
	top: 0;
	transition: 0.5s ease;
}

.touch .item h6::after{
	content: '';
	width: 4px;
	height: 100%;
	background-color: #2c3e50;
	position: absolute;
	right: -100%;
	opacity:0;
	top: 0;
	transition: 0.5s ease;
}

.touch .item h6 i{
	display: block;
	transform: rotate(-45deg);
}

.touch .item h6 i::before{
	font-size: 45px;
}

.touch .item h3{
	text-transform: uppercase;
}

.touch .item h5{
	font-family: montThin;
	text-transform: capitalize;
	color: #bbb;
	letter-spacing: 1px;
	text-shadow: 1px 1px 10px #000;
	transform-origin: bottom;
	transform: scale(0);
	transition: 0.5s ease;
}

.touch .item:hover{
	background-color: #2c3e50;
}

.touch .item:hover h6::before,
.touch .item:hover h6::after,
.touch .item:hover h6{
	background-color: #1894ff;
	opacity: 1;
}

.touch .item:hover h6::before{
	left: -9%;
}

.touch .item:hover h6::after{
	right: -9%
}

.touch .item:hover h5{
	transform: scale(1);
}

/* send message section */

.send_message{
	background-image: url(../images/backgrounds/bg2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 70%;
	height: 90vh;
}

.send_message .container{
	padding: 70px 0;
}

.send_message h2{
	margin: 0;
	font-family: montBold;
	text-align: center;
	margin-bottom: 70px;
	text-transform: uppercase;
}

.send_message .form{
	padding: 0 20%;
}

@media (max-width:1000px){
	.send_message .form{
		padding: 0 15%;
	}
}

@media (max-width:740px){
	.send_message .form{
		padding: 0 10%;
	}
}

@media (max-width:500px){
	.send_message .form{
		padding: 0 2%;
	}
}

.send_message .form form{
	
}

.send_message .form form div{
	float: left;
	padding: 5px;
}


.send_message .form form input{
	background-color: rgba(44, 62, 80, 0.8);
	height: 45px;
	border: 0;
	padding: 10px;
	color: #aaa;
	font-size: 15px;
	outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaa;
}

.send_message .form form .message_about{
	width: 50%;
	text-align: right;
}

.send_message .form form .message_about input{
	width: 100%;
	border-top-left-radius: 30px;
}

.send_message .form form .your_name{
	width: 50%;
}

.send_message .form form .your_name input{
	width: 100%;
	border-top-right-radius: 30px;
}

.send_message .form form .email{
	width: 50%;
}

.send_message .form form .email input{
	width: 100%;
}

.send_message .form form .phone{
	width: 50%;
}

.send_message .form form .phone input{
	width: 100%;
}

.send_message .form form .message{
	width: 100%;
	height: 150px;
}

.send_message .form form .message textarea{
	background-color: rgba(44, 62, 80, 0.8);
	border: 0;
	padding: 10px;
	width: 100%;
	height: 100%;
	font-family: mont;
}

.send_message .form form .submit{
	width: 100%;
}

.send_message .form form .submit button{
	background-color: rgba(44, 62, 80, 0.8);
	text-transform: capitalize;
	color: #fff;
	font-family: mont;
	border: 0;
	display: block;
	width: 100%;
	padding: 10px;
	padding-bottom: 15px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: 0.5s ease;
	z-index: 0;
}

.send_message .form form .submit button::after{
	content: '';
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #1894ff;
	top: 0;
	left: 0;
	z-index: -1;
	transition: 0.5s ease;
}

.send_message .form form .submit button:hover::after{
	width: 100%;
}

.send_message .form form .submit button i{
	margin-right: 10px;
}

/* map */

#map{
	width: 100%;
	height: 250px;
	overflow: hidden;
	position: relative;
}

#map .map{
	width: 100%;
	height: 100%;
}

#map .map img{
	width: auto;
	height: 100%;
	transition: 2.5s ease;
}

#map .map img:hover{
	transform: scale(1.2)translateX(-50px);
}

@media (max-width:750px){
	#map .map img:hover{
		transform: scale(1.2)translateX(-250px);
	}
}

@media (max-width:480px){
	#map .map img:hover{
		transform: scale(1.2)translateX(-400px);
	}
}

@media (max-width:340px){
	#map .map img:hover{
		transform: scale(1.2)translateX(-450px);
	}
}

#map > img{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 70px;
	height: auto;
}

/* abood */

.abood{
	overflow: hidden;
	height: 100vh;
	background: linear-gradient(to top right,#000,rgba(24, 148, 255, 0));
	position: relative;
}

@media (max-width:1000px){
	.abood{
		display: none;
	}
}

.abood h2{
	text-transform: capitalize;
	position: absolute;
	font-size: 20px;
	color: #fff;
	top: 20px;
	left: 20px;
	margin: 0;
	height: 30px;
	line-height: 30px;
	animation: lighting 3s ease infinite;
}

.abood h2 img{
	height: 100%;
	width: auto;
	margin-left: 7px;
	margin-bottom: -7px;
}

.abood > img{
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 55px;
	width: auto;
}

/* footer */

footer{
	height: 70px;
	line-height: 70px;
	text-align: center;
	text-transform: capitalize;
}

footer h4{
	margin: 0;
	color: #bbb;
}

@media (max-width:555px){
	footer h4{
		font-size: 13px;
	}
}

@media (max-width:380px){
	footer h4{
		font-size: 11px;
	}
}

footer h4 span{
	color: #1894ff;
	font-family: montBold;
	margin-left: 5px;
	text-shadow: 2px 2px 2px #000;
}




/*
	primary color #1894ff
	dark color #2c3e50
*/

















































































































/**************** KeyFrames ******************/

/* header background */

@keyframes bg{
	0%{
		background-image: url(../images/backgrounds/bg.jpg);
	}
	
	50%{
		background-image: url(../images/backgrounds/bg1.jpg);
	}
	
	100%{
		background-image: url(../images/backgrounds/bg.jpg);
	}
}

/* links hover */

@keyframes linksHover{
	0%{
		opacity: 0;
		transform: translate(-50%,-50%)scale(0);
	}
	
	50%{
		opacity: 1;
		transform: translate(-50%,-50%)scale(1);
	}

	75%{
		opacity: 0;
	}
	
	100%{
		transform: scale(1);
	}
}

/* name light */

@keyframes lighting{
	0%{
		text-shadow: none;
	}
	
	50%{
		text-shadow: 0px 0px 10px #fff,0px 0px 10px #1894ff,0px 0px 10px #1894ff,0px 0px 20px #1894ff,0px 0px 20px #1894ff;
	}

	100%{
		text-shadow: none;
	}
}

/* mouse swipe down */

@keyframes swipeDown{
	0%{
		top: 10%;	
	}
	
	100%{
		top: 65%;
	}
}

/* pieChart */

@keyframes pie{
	0%{
		transform: translate(-50%,-50%)scale(0);
		opacity: 1;
	}
	
	100%{
		transform: translate(-50%,-50%)scale(1);
		opacity: 0;
	}
}

/* progressbar */

@keyframes color{
	0%{
		background-color: #1894ff;
	}
	
	50%{
		background-color: #1894ff;
	}
	
	90%{
		background-color: #2c3e50;
	}
	
	100%{
		background-color: #1894ff;
	}
}




































































